<!DOCTYPE html>
<html layout:decorate="~{/admin/admin-template}" lang="vi" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý danh mục</title>
</head>
<body>

<main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div id="message" style="display: none" th:if="${message}" th:text="${message}"></div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Quản lý danh mục</h1>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Thêm danh mục</button>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <select class="form-select" id="filterParentCategory">
                <option value="0">Tất cả danh mục</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary w-100" id="applyFilter">Lọc con cháu</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Tên danh mục</th>
                <th>Danh mục cha</th>
                <th>Mô tả</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody id="categoriesTableBody">
                <tr th:each="category : ${categories}" th:data-parent-category="${category.parentId}">
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.parentName}"></td>
                    <td style="white-space: normal; max-width: 300px" th:text="${category.description}"></td>
                    <td>
                        <button class="btn btn-sm btn-warning edit-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#editCategoryModal"
                                th:data-id="${category.id}"
                                th:data-name="${category.name}"
                                th:data-parent="${category.parentId}"
                                th:data-description="${category.description}">
                            Sửa
                        </button>
                        <form hidden="hidden" th:action="@{'/a/category/delete/' + ${category.id}}">
                        </form>
                        <button  class="btn btn-sm btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Thêm danh mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-form" action="/a/category/add" method="POST">
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Tên danh mục</label>
                            <input name="name" type="text" class="form-control" id="categoryName" required>
                        </div>
                        <div class="mb-3">
                            <label for="parentCategory" class="form-label">Danh mục cha</label>
                            <select name="parentId" class="form-select" id="parentCategory">
                                <option selected value="">Không có</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="categoryDescription" class="form-label">Mô tả</label>
                            <textarea name="description" class="form-control" id="categoryDescription" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="addBtn" type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryModalLabel">Sửa danh mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-form" action="/a/category/update" method="POST">
                        <input name="id" id="editCategoryId" type="text" hidden="hidden">
                        <div class="mb-3">
                            <label for="editCategoryName" class="form-label">Tên danh mục</label>
                            <input name="name" type="text" class="form-control" id="editCategoryName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editParentCategory" class="form-label">Danh mục cha</label>
                            <select name="parentId" class="form-select" id="editParentCategory">
                                <option value="" selected="selected">Không có</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editCategoryDescription" class="form-label">Mô tả</label>
                            <textarea name="description" class="form-control" id="editCategoryDescription" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="saveEditBtn" type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="/res/js/admin.js"></script>

    <script>

        window.onload = showDefNotification;

        document.addEventListener("DOMContentLoaded", function () {
            const editButtons = document.querySelectorAll(".edit-btn");
            const editForm = document.getElementById("edit-form");
            const addForm = document.getElementById("add-form");

            editButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const categoryId = this.getAttribute("data-id");
                    const categoryName = this.getAttribute("data-name");
                    const parentId = this.getAttribute("data-parent");
                    const description = this.getAttribute("data-description");

                    document.getElementById("editCategoryId").value = categoryId;
                    document.getElementById("editCategoryName").value = categoryName;
                    if(parentId) document.getElementById("editParentCategory").value = parentId;
                    document.getElementById("editCategoryDescription").value = description;
                });
            });

            document.getElementById("saveEditBtn").addEventListener("click", function () {
                if (document.getElementById("editCategoryId").value === document.getElementById("editParentCategory").value) {
                    showNotification("Danh mục cha không được trùng danh mục hiện tại");
                } else {
                    editForm.submit();
                }
            });

            document.getElementById("addBtn").addEventListener("click", function () {
                addForm.submit();
            });

        });

    </script>
</main>
</body>
</html>