<!DOCTYPE html>
<html layout:decorate="~{user-template}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<th:block layout:fragment="content">

    <th:block th:replace="~{toolbox :: category-bar}"></th:block>

    <main class="main-content">
        <div class="product-section">
            <h2>Khuyến Mãi Đặc Biệt</h2>
            <div class="product-grid">
                <div th:each="product : ${discountProducts}" class="product-card">
                    <div th:text="${product.promotionText}" class="product-badge"></div>
                    <div class="product-image-container">
                        <img th:src="${product.thumbnail}" th:alt="${product.name}" class="product-image">
                        <div class="image-overlay">
                            <a th:href="@{'/p/product/' + ${product.id}}">
                                <button class="image-detail-btn">Xem Chi Tiết</button>
                            </a>
                        </div>
                    </div>
                    <div class="product-details">
                        <span th:text="${product.name}" class="product-name"></span>
                        <span th:text="${product.categoryName}" class="product-category"></span>
                        <div class="product-actions">
                            <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.currentPrice)}" class="product-price"></span>
                            <del style="font-size: 18px; color: white"
                                 th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></del>
                            <button class="add-to-cart-btn">Thêm Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h2>Bán chạy nhất</h2>
            <div class="product-grid">
                <div th:each="product : ${topsellerProducts}" class="product-card">
                    <div th:text="${product.promotionText}" class="product-badge"></div>
                    <div class="product-image-container">
                        <img th:src="${product.thumbnail}" th:alt="${product.name}" class="product-image">
                        <div class="image-overlay">
                            <a th:href="@{'/p/product/' + ${product.id}}">
                                <button class="image-detail-btn">Xem Chi Tiết</button>
                            </a>
                        </div>
                    </div>
                    <div class="product-details">
                        <span th:text="${product.name}" class="product-name"></span>
                        <span th:text="${product.categoryName}" class="product-category"></span>
                        <div class="product-actions">
                            <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.currentPrice)}" class="product-price"></span>
                            <del style="font-size: 18px; color: white"
                                 th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></del>
                            <button class="add-to-cart-btn">Thêm Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h2>Mới nhất</h2>
            <div class="product-grid">
                <div th:each="product : ${newestProducts}" class="product-card">
                    <div th:text="${product.promotionText}" class="product-badge"></div>
                    <div class="product-image-container">
                        <img th:src="${product.thumbnail}" th:alt="${product.name}" class="product-image">
                        <div class="image-overlay">
                            <a th:href="@{'/p/product/' + ${product.id}}">
                                <button class="image-detail-btn">Xem Chi Tiết</button>
                            </a>
                        </div>
                    </div>
                    <div class="product-details">
                        <span th:text="${product.name}" class="product-name"></span>
                        <span th:text="${product.categoryName}" class="product-category"></span>
                        <div class="product-actions">
                            <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.currentPrice)}" class="product-price"></span>
                            <del style="font-size: 18px; color: white"
                                 th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></del>
                            <button class="add-to-cart-btn">Thêm Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

</th:block>

