<!DOCTYPE html>
<html layout:decorate="~{user-template}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<th:block layout:fragment="content">

    <th:block th:replace="~{toolbox :: category-bar}"></th:block>

    <main class="main-content">
        <div class="product-section">
            <h2 th:text="${a}"></h2>
            <div class="product-grid">
                <div th:each="product : ${discountProducts}" th:if="${product.onPromtion()}" class="product-card">
                    <div th:text="${product.promotionText}" class="product-badge"></div>
                    <div class="product-image-container">
                        <img th:src="${product.thumbnail}" th:alt="${product.name}" class="product-image">
                        <div class="image-overlay">
                            <a th:href="@{'/p/product/' + ${product.id}}">
                                <button class="image-detail-btn">Xem Chi Tiết</button>
                            </a>
                        </div>
                    </div>
                    <div class="product-details">
                        <span th:text="${product.name}" class="product-name"></span>
                        <span th:text="${product.categoryName}" class="product-category"></span>
                        <div class="product-actions">
                            <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.currentPrice)}" class="product-price"></span>
                            <del style="font-size: 18px; color: white"
                                 th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></del>
                            <form hidden="hidden" th:id="|addCartForm- + ${product.id}|" action="/p/cart/addToCart" method="post">
                                <input hidden="hidden" name="productId" th:value="${product.id}">
                                <input hidden="hidden" name="quantity" type="number" value="1" min="1" max="999">
                            </form>
                            <button th:onclick="|addToCart(${product.id})|" class="add-to-cart-btn">Thêm Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h2 th:text="${b}">Tất cả sản phẩm</h2>
            <div class="product-grid">
                <div th:each="product : ${products}" class="product-card">
                    <div th:if="${product.onPromtion()}" th:text="${product.promotionText}" class="product-badge"></div>
                    <div class="product-image-container">
                        <img th:src="${product.thumbnail}" th:alt="${product.name}" class="product-image">
                        <div class="image-overlay">
                            <a th:href="@{'/p/product/' + ${product.id}}">
                                <button class="image-detail-btn">Xem Chi Tiết</button>
                            </a>
                        </div>
                    </div>
                    <div class="product-details">
                        <span th:text="${product.name}" class="product-name"></span>
                        <span th:text="${product.categoryName}" class="product-category"></span>
                        <div class="product-actions">
                            <th:block th:if="${product.onPromtion()}" >
                                <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.currentPrice)}" class="product-price"></span>
                                <del style="font-size: 18px; color: white"
                                     th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></del>
                            </th:block>
                            <th:block th:if="${!product.onPromtion()}" >
                                <span th:text="${@currencyFormatter.formatToVietnameseCurrency(product.unitPrice)}" class="product-price"></span>
                            </th:block>
                            <form hidden="hidden" th:id="|addCartForm- + ${product.id}|" action="/p/cart/addToCart" method="post">
                                <input hidden="hidden" name="productId" th:value="${product.id}">
                                <input hidden="hidden" name="quantity" type="number" value="1" min="1" max="999">
                            </form>
                            <button th:onclick="|addToCart(${product.id})|" class="add-to-cart-btn">Thêm Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        function addToCart(productId) {
            let form = document.getElementById('addCartForm-' + productId);
            form.submit();
        }
    </script>


</th:block>

