<!DOCTYPE html>
<html layout:decorate="~{user-template}" lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<th:block layout:fragment="content">
    <main class="main-content">

        <div th:text="${message?.trim()}" id="errorPopup" class="error-popup">
        </div>

        <div class="login-container" style="margin: 31px auto">
            <div class="login-header">
                <h1>Đăng ký</h1>
                <img style="margin: 4px auto" class="logo" src="/res/img/logo.svg" alt="logo">
            </div>

            <form id="register-form" th:object="${registerDto}" class="login-form" action="/p/register" method="POST">
                <div class="form-group">
                    <label for="username">Tên đăng nhập <span class="error-line" th:errors="*{username}"></span></label>
                    <input
                            type="text"
                            id="username"
                            th:field="*{username}"
                            placeholder="Nhập tên đăng nhập"
                            required
                    >
                </div>

                <div class="form-group">
                    <label for="username">Email <span class="error-line" th:errors="*{email}"></span></label>
                    <input
                            type="email"
                            id="email"
                            th:field="*{email}"
                            placeholder="Nhập email (eg: abc123@gmail.com)"
                            required
                    >
                </div>

                <div class="form-group">
                    <label for="name">Tên hiển thị <span class="error-line" th:errors="*{displayName}"></span></label>
                    <input
                            type="text"
                            id="name"
                            th:field="*{displayName}"
                            placeholder="Nhập tên hiển thị"
                            required
                    >
                </div>

                <div class="form-group">
                    <label for="password">Mật khẩu <span class="error-line" th:errors="*{password}"></span></label>
                    <input
                            type="password"
                            id="password"
                            th:field="*{password}"
                            placeholder="Nhập mật khẩu"
                            required
                    >
                </div>

                <div class="form-group">
                    <label for="password">Nhập lại mật khẩu</label>
                    <input
                            type="password"
                            id="verify-password"
                            name="verify-password"
                            placeholder="Nhập lại mật khẩu"
                            required
                    >
                </div>

                <button type="submit" class="login-btn">Đăng ký ngay</button>

                <div class="signup-link">
                    Đã có tài khoản ?
                    <a href="/login">Quay về đăng nhập</a>
                </div>
            </form>
        </div>
    </main>
    <script>
        document.getElementById('register-form').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('verify-password').value;
            if (password !== confirmPassword) {
                event.preventDefault();
                const errorPopup = document.getElementById('errorPopup');
                errorPopup.innerHTML = 'Mật khẩu không khớp';
                errorPopup.classList.add('show');
                setTimeout(() => {
                    errorPopup.classList.remove('show');
                }, 4000);
            }
        });
        const msg = document.getElementById("errorPopup").innerHTML;
        if(msg && msg.length !== 0) {
            const errorPopup = document.getElementById('errorPopup');
            errorPopup.classList.add('show');
            setTimeout(() => {
                errorPopup.classList.remove('show');
            }, 4000);
        }
    </script>
</th:block>
</html>