body {
    font-family: Arial, sans-serif;
}

#sidebar {
    height: 100vh;
    position: absolute;
    top: 56px; /* Height of the navbar */
    left: 0;
    width: 250px;
    overflow-y: auto;
    background-color: #f8f9fa;
}

#sidebar .nav-link {
    padding: 10px 15px;
    color: #333;
}

#sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

main {
    margin-left: 250px;
    padding-top: 56px;
}

.card {
    margin-bottom: 20px;
}

/* Add some spacing and styling for the table */
.table-responsive {
    margin-top: 20px;
}

.table th, .table td {
    vertical-align: middle;
}

/* Style for the status badges */
.badge {
    font-size: 0.9em;
}

/* Style for the details button */
.btn-info {
    color: #fff;
}

.preview-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin: 5px;
    position: relative;
}
.thumbnail-preview {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.image-container {
    position: relative;
    display: inline-block;
}
.delete-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}